* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);
  --OffWhite: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);
}

body {
  font-size: 15px;
  max-width: 1440px;
  background-color: var(--OffWhite);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

/* 375px */
